.areas
   background-color: #f4f4f4
   width: 100%
   padding: 50px 0
   .container
      display: flex
      align-items: start
      justify-content: space-between
      .areas__scheme-wrapper
         
         display: flex
         justify-content: space-between
         width: 43%
         position: relative
         top: -175px
         left: 0
         .areas__scheme-text
            text-align: right
            white-space: nowrap
            position: absolute
            left: 165px


         .areas__scheme-title
            white-space: nowrap
            color: #000000
            font-family: "Roboto - Black" , sans-serif
            font-size: 24px
            font-weight: bold



      .areas__description
         width: 20%
         padding: 0 5px
         .areas__description-wrapper

            .areas__description-title
               font-family: "Roboto - Bold" , sans-serif
               font-size: 16px
               font-weight: 700
            .areas__description-text
               margin: 10px 0
               font-size: 14px
               span
                  display: block
                  line-height: 21px
.areas__scheme
   width: 80%
   
   & img
      width: 100%
      height: 100%
.conc,
.presentation
   & .areas .container .areas__description 
      margin-right: 10px
   & .areas__description-wrapper
      border-radius: 20px
      padding: 20px
      margin-bottom: 20px
   // & .areas__grren
   //    box-shadow: 10px 10px #90f39a
   //    background-color: #19d819
   //    color: #fff
   // & .areas__blue
   //    box-shadow: 10px 10px #76b0f3
   //    background-color: #2981e5
   //    color: #fff
   & .areas .container .areas__scheme-wrapper .areas__scheme-text 
      font-size: 14px
   & .areas .container .areas__scheme-wrapper .areas__scheme-title 
      font-size: 18px
   & .areas .container .areas__scheme-wrapper .areas__scheme-text 
      left: 60px
      top: 5px
   & .areas .container .areas__scheme-wrapper 
      top: -178px
      left: 110px
   & .two_stage .container .stage-2-wrap 
      text-align: right
   & .two_stage .container .stage-2-wrap p 
      margin: 20px 0