#details
   & .box-detalies
      display: flex
   & .block-detalies__two
      background: url(../img/фон.png)
      padding: 30px 10px 40px 50px
      & .block-detalies__title
         font-family: "Roboto Medium" ,sans-serif
         font-size: 24px
         font-weight: 500
         letter-spacing: 1.2px
         margin-bottom: 20px
      & .block-detalies__descr
         font-family: "Roboto - Regular",sans-serif
         font-size: 20px
         font-weight: 400
         letter-spacing: 1px
         margin-bottom: 40px
      & ul
         margin-bottom: 75px
         padding: 0
         & li
            padding: 0
            margin: 0
            list-style: circle
            color: #333333
            font-family: "Roboto - Regular",sans-serif
            font-size: 16px
            font-weight: 400
            line-height: 30px
   & #details-form 
      & .label-block
         display: flex
      & .label-email
         color: #333333
         font-family: "Roboto - Bold", sans-serif
         font-size: 15px
         font-weight: 700
         letter-spacing: 0.9px
      & .label-namber
         color: #333333
         font-size: 14px
         font-weight: 400
         line-height: 20px
         letter-spacing: 0.8px
         font-family: "Roboto - Regular",sans-serif
      & input
         width: 300px
         height: 57px
         color: #333333
         font-size: 16px
         font-weight: 300
         text-transform: uppercase
         letter-spacing: 0.8px
         border-radius: 10px 0 0 10px
         border: 1px solid #7b7b7b
         background-color: #ffffff
         padding-left: 30px
         outline: none
         border-right: none
         margin: 24px 0 27px

      #label-namber
         width: 180px
      .label-date
         width: 120px
         padding: 0 10px 0 15px
         border-radius: inherit
      & .button
         width: 170px
         height: 57px
         font-family: "Roboto - Regular",sans-serif
         border-radius: 0 10px 10px 0
         border: 1px solid #7b7b7b
         background-color: #273562
         color: #ffffff
         font-size: 16px
         font-weight: 300
         letter-spacing: 0.8px
         margin: 24px 0 27px
         transition: 500ms ease
         &:hover
            transition: 500ms ease
            background: #364c93
   .figure
      background: url(../img/фигура.png) center no-repeat
      background-size: contain
      display: flex
      align-items: center
      justify-content: center
      & span
          font-family: "Roboto - Bold" ,sans-serif
          font-weight: 700
      & p
         width: 63%
         padding: 60px 0
         color: #333333
         font-size: 18px
         font-family: "Roboto - Regular" ,sans-serif
         font-weight: 400
         letter-spacing: 1.2px

        
