#loft
   margin-top: 50px
   .container
      margin: 0 auto
      max-width: 1200px
      width: 100%
      overflow: hidden
      .box-loft
         display: flex
         .block-one
            width: 75%
            flex-grow: 1
            min-height: 864px
            background-image: url('../../img/loft.png')
            background-repeat: no-repeat
            background-position: right center
            position: relative
         
           




         .block-two-main
            display: block
            
            height: 868px
            position: relative
            flex-shrink: 26
            .block-one-overlay
               
               
         
               display: flex
               flex-direction: column
               justify-content: center
               align-items: center           
               background-color: #fff
               & p,
               & img
                  cursor: pointer
                
              


               
               .block-one-overlay-text
                  position: absolute
                  top: 200px
                  bottom: 0
                  & p
                     transform: rotate(-90deg)
                     width: max-content
                     font-size: 30px
               .block-one-overlay-click
                  margin-top: 110px
                  margin-bottom: 11px
                  cursor: pointer
                  text-decoration: underline
                  position: relative
                  right: 30px

               .block-one-overlay-add ,
               .block-one-overlay-loft-fig
                  display: block

               .block-one-overlay-loft-fig 
                  position: relative
                  right: 50%  

               .block-one-overlay-add
                  margin: 15px   


            .block-two
               display: none
               background: #fff
               padding: 0 30px
               height: 868px
             


               .block-two-wrapper
                     .block-two-title
                        display: inline-block
                        font-size: 30px
                        margin: 14px 0 0 0
                     .block-two-item
                        display: block
                        margin: 5px 0 

                     .block-two-title-fst
                        font-size: 30px
                        margin-top: 10px
#loft .container .box-loft .block-two-main .block-one-overlay 
   justify-content: flex-end
   height: 100%
   position: relative