#loft
   margin-top: 20px
   & .box-loft
      display: flex
      & .block-one
         position: relative
         max-width: 1440px
         max-height: 985px
         & img
            width: 92%
         & p
            position: absolute
            color: #333333
            font-family: 'Roboto', sans-serif
            font-size: 28px
            font-weight: 500
            letter-spacing: 1.8px
            right: -190px
            top: 210px
            transform: rotate(-90deg)
         & .loft-fig
            background: url(../../img/loft-fig.png) center no-repeat
            position: absolute
            width: 168px
            height: 210px
            bottom: 5px
            right: 1%
      & .click
         position: absolute
         bottom: 210px
         right: 30px
         & p
            transform: rotate(-0deg)
            color: #333333
            font-size: 16px
            font-weight: 400
            text-decoration: underline
            font-family: 'Roboto', sans-serif
            letter-spacing: 0.8px
            right: 0
            top: -50px

   & .block-two
      display: none
      padding: 0 20px
      transition: .3s
      & .block-two-item
         display: block
      & .loft-items
         padding-left: 15px
         & li
            list-style-type: circle
              
            & .block-two-img
               display: block
               width: 30% 
               position: relative
               right: -116px
               top: 15px  
#loft .box-loft .block-one .activ
   right: -156px
   top: 155px
   font-size: 20px


               