#loft
   .container
      margin: 0 auto
      max-width: 100%
      width: 100%
      overflow: hidden
      .box-loft
         display: flex
         .block-one
            width: 75%
            flex-grow: 1
            height: 100vh
            background-image: url('../../img/ALMA 2018-10-23_216.jpg')
            background-repeat: no-repeat
            background-position: left center
            position: relative
            background-size: cover
         .block-two-main
            display: block
            height: 868px
            position: relative
            flex-shrink: 26
            .block-one-overlay
               display: flex
               flex-direction: column
               justify-content: center
               align-items: center           
               background-color: #fff
               display: none
               & p,
               & img
                  cursor: pointer
                
              


               
               .block-one-overlay-text
                  position: absolute
                  top: 200px
                  bottom: 0
                  & p
                     transform: rotate(-90deg)
                     width: max-content
                     font-size: 30px
               .block-one-overlay-click
                  margin-top: 110px
                  margin-bottom: 11px
                  cursor: pointer
                  text-decoration: underline
                  position: relative
                  right: 30px

               .block-one-overlay-add ,
               .block-one-overlay-loft-fig
                  display: block

               .block-one-overlay-loft-fig 
                  position: relative
                  right: 50%  

               .block-one-overlay-add
                  margin: 15px   


            .block-two
               display: block
               background: #fff
               padding: 0 30px
               height: 868px
             


               .block-two-wrapper
                     .block-two-title
                        display: inline-block
                        font-size: 30px
                        margin: 14px 0 0 0
                     .block-two-item
                        display: block
                        margin: 5px 0 

                     .block-two-title-fst
                        font-size: 30px
                        margin-top: 10px
#loft .container .box-loft .block-two-main .block-one-overlay 
   justify-content: flex-end
   height: 100%
   position: relative
.conc 
   & #loft .container .box-loft .block-one
      background-image: url('../../img/arenda-ploshchadki-dlya-koncerta.jpg')
      background-position: left center
      background-size: cover
   & .section-3 .container .background-styles .background-styles-figure p 
      color: #f551ff
   & .section-3 .container .background-styles .background-styles-figure 
      margin-right: 30%
   & .section-3 .container .our_styles_items .our_styles-description 
      justify-content: center
      display: flex
   & .section-3 .container .our_styles_items 
      align-items: baseline
   & .our_styles-description p
      color: #333333
      font-family: "Roboto Light", sans-serif
      font-size: 14px
      font-weight: 300;
      letter-spacing: 1.6px
      margin:  0 15px
.presentation
   & #loft .container .box-loft .block-one
      background-image: url('../../img/event-ploshchadki-moskvy.jpg')
      background-position: left center
      background-size: cover
   & .section-3 .container .background-styles .background-styles-figure p 
      color: #f551ff
   & .section-3 .container .our_styles_items .our_styles-description 
      justify-content: center
      display: flex
   & .section-3 .container .our_styles_items 
      align-items: baseline
   & .our_styles-description p
      color: #333333
      font-family: "Roboto Light", sans-serif
      font-size: 14px
      font-weight: 300
      letter-spacing: 1.6px
      margin:  0 15px
#exhib
   & #loft .container .box-loft .block-one
      background-image: url('../../img/lokaciya-dlya-semki-klipa.jpg')
      background-position:  center
      background-size: cover
.loft-two
   & .block-one
      background-image: url(../../img/loft-v-arendu-dlya-meropriyatiya.jpg) !important
   & .block-two-wrapper
      display: flex
      flex-direction: column
      height: 100vh
      justify-content: space-between