@media screen and (max-width: 1200px)
   /*S3*/
   .section-2 .container .section-2-wrapper h3 
      font-size: 40px
      margin-left: 8%
   .section-2 .container .section-2-wrapper .event-formats .event-wrapper,
   .section-2 .container .section-2-wrapper .event-formats .title-actual-event 
      margin-left: 10%

   /*loft*/
   #loft .box-loft .block-one:after 
      content: ''
      background: url(../img/loft-fig.png) center no-repeat
      position: absolute
      bottom: 5px
      right: 0%
   #loft .box-loft .block-one p 
      font-size: 20px
      right: -120px
      top: 210px
   #loft .block-one .click p
      transform: rotate(0deg)
      color: #333333
      font-size: 16px
      font-weight: 400
      text-decoration: underline
      font-family: 'Roboto', sans-serif
      letter-spacing: 0.8px
      right: 0
      top: -30px
   /*details*/
   #details .figure p 
      padding: 60px 120px 80px 0
   #details .block-detalies__one,
   #details .block-detalies__two 
      width: 50%
   #details .block-detalies__two
      padding: 30px 10px 40px 30px
   /*footer*/
   #footer .box-footer .block-one 
      width: 40%
      padding-left: 20px

@media screen and (max-width: 1024px)
   /*header */
   .section-main .container .main-title button
      margin-top: 15px
      margin-bottom: 35px
   main .section-main .container 
      min-height: auto
   /*form*/ 
   #form-top
      text-align: center
   .section_form .box-form 
      padding: 30px 0 40px 0
   .section_form .box-form #form-top input, 
   .section_form .box-form .btn,
   #footer .box-form #form input,
   #form button
      width: 45%
      flex-wrap: wrap
      margin: 5px 2.5px
   #footer .box-form #form
      flex-wrap: wrap
      justify-content: center
   .section_form .box-form .form-text p,
   #footer .box-form .form-text p 
      font-size: 18px
      margin-bottom: 30px
      text-align: center
   /*footer*/
   #footer .box-map .block-text__title span 
      font-size: 18px
   #footer .box-map .block-text__title p, #footer .box-map .link a 
      font-size: 16px
   #footer .box-map .block-text__title p 
      padding: 10px 0 20px 0
   #footer .box-map .m45 
      margin-bottom: 30px
   iframe
      height: 460px
   #footer .box-footer .block-two .block-inputs input 
      width: 140px
   #footer .box-footer .block-one 
      padding-left: 15px