@media screen and (max-width: 1200px)
   .spaces .container .spaces-wrapper .spaces__description .spaces__description-title 
      font-size: 36px
   .areas .container .areas__scheme-wrapper
      top: -80px
   .conc .areas .container .areas__description 
      width: 22%
   .conc .areas .container .areas__scheme-wrapper 
      top: -141px
      left: 65px

   /*S3*/
   .pc .slider-for .portfolio-item
	   background-size: 50%
   .pc .slider-nav .portfolio-item
	   background-size: 100%
   .section-2 .container .section-2-wrapper h3 
      font-size: 40px
      margin-left: 8%

   /*loft*/
   #loft .box-loft .block-one .loft-fig 
      right: 0%
   #loft .box-loft .block-one p 
      font-size: 20px
      right: -120px
      top: 210px
   #loft .block-one .click p
      transform: rotate(0deg)
      color: #333333
      font-size: 16px
      font-weight: 400
      text-decoration: underline
      font-family: 'Roboto', sans-serif
      letter-spacing: 0.8px
      right: 0
      top: -30px
   /*details*/
   #details .figure p 
      padding: 60px 120px 80px 0
   #details .block-detalies__two
      padding: 30px 10px 40px 30px
   /*footer*/
   #footer .box-footer .block-one 
      width: 40%
      padding-left: 20px
   #footer .box-map .arrow:before 
      top: 31px
      right: 38%
   




@media screen and (max-width: 1024px)
   .two_stage .container .two_stage-wrapper .two_stage-wrapper-description 
      padding: 60px 0 60px 45px
      width: 400px
   .spaces .container .spaces-wrapper .spaces__description .spaces__stage-description
      width: 100%
   .section-portfolio .pc .slider-for .slick-track
	   margin-left: 0px
   .exhib main .section-main .container .main-title p 
      margin-top: 30px
   .conc .areas .container .areas__description 
      width: 31%
   .conc .areas .container .areas__scheme-wrapper 
      top: 0px
      left: 90px
   .areas .container .areas__scheme-wrapper 
      top: 30px
      left: 50px
   .conc .our_styles-description p 
      margin: 0 8px
   .section-3 .container .our_styles_items .our_styles-title h4 
      font-size: 40px
   .pc .slider-for .portfolio-item
	   background-size: 50%
   .pc .slider-nav .portfolio-item
	   background-size: 100%
   /*header */
   main .section-main .container .main-title h1 
      font-size: 40px
      margin: 20px 0 10px
   main .section-main .container .main-title h2 
      margin-bottom: 30px
      font-size: 20px
   main .section-main .container .main-title p 
      font-size: 18px
      margin-bottom: 20px
   main .section-main .container .main-title button 
      padding: 14px 60px
      margin-top: 25px
      font-size: 16px
      margin-bottom: 25px
   main .section-main .container .main-title 
      margin-left: 30px
   .section-portfolio .portfolios .portfolio-item 
      margin: 0px 5px
   .flex
      height: 40px
      display: flex
      align-items: center
   .section-main .container .main-title button
      margin-top: 15px
      margin-bottom: 35px
   main .section-main .container 
      min-height: auto
   /*section-2*/
     
   .section-2 .container .section-2-wrapper h3
      font-size: 34px

   .section-2 .container .section-2-wrapper .event-formats .title-actual-event
      font-size: 25px

   /*portfolio */
   .section-portfolio .portfolios .portfolio-item .portfolio-figure-icon
      background-size: 50%
          

   .portfolio-figure-icon[data-portfolio-figure="0"]
      position: absolute
      top: 22px
      left: 105px

   .portfolio-figure-icon[data-portfolio-figure="1"]
      position: absolute
      top: -29px
      left: 14px
   .section-portfolio .stage-title
      margin: 0 0 0 0       
   .section-portfolio .portfolio-block .portfolio-title 
      font-size: 30px
   .section-portfolio .stage-title 
      font-size: 25px
      margin: 5px 0 5px 12px
   .section-portfolio 
      position: relative
   .section-3 .container .background-styles 
      min-height: 600px
   .background-styles-figure img
      width: 185px
   .background-styles-figure .plus_icon
      width: 20px
   main .section-main .container .menu-items .menu-item 
      padding: 0px 0
   main .section-main .container .menu-items 
      margin-left: 0px
      /*loft*/
   #loft .box-loft .block-one p 
      font-size: 16px
      right: -100px
      top: 125px
   #loft .block-one .click p 
      color: #333333
      font-size: 12px
      font-weight: 400
      text-decoration: underline
      font-family: 'Roboto', sans-serif
      letter-spacing: 0.8px
      right: 0
      top: -20px
   #loft .block-one .click a img
      width: 20px
   #loft .box-loft .click
      bottom: 175px
   /*deteils*/
   #details .figure p 
      font-size: 14px
   #details .block-detalies__two .block-detalies__descr 
      font-size: 16px
      margin-bottom: 25px
   #details .block-detalies__two .block-detalies__title p 
      font-size: 22px
      margin-bottom: 15px
   #details .block-detalies__two ul 
      margin: 0px 0 30px 0
   #details .block-detalies__two ul li 
      font-size: 14px
   #details .block-detalies__two 
      padding: 20px 5px 0px 20px
   #details #details-form input 
      height: 45px
      font-size: 12px
      margin: 20px 0 10px
   #details #details-form .button
      max-width: 125px
      font-size: 12px
      margin: 20px 0 10px
   .section-portfolio .portfolio-block .portfolio-title span 
      margin-right: 0px
   /*image*/
   #image .box-image 
      margin-bottom: 0px
   /*form*/ 
   #form-top
      text-align: center
   .section_form .box-form 
      padding: 30px 0 40px 0
   .section_form .box-form #form-top input, 
   .section_form .box-form .btn,
   #footer .box-form #form input,
   #form button
      width: 45%
      flex-wrap: wrap
      margin: 5px 2.5px
   #footer .box-form #form
      flex-wrap: wrap
      justify-content: center
   .section_form .box-form .form-text p,
   #footer .box-form .form-text p 
      font-size: 18px
      margin-bottom: 30px
      text-align: center
   /*footer*/
   #footer .box-map .block-text__title span 
      font-size: 18px
   #footer .box-map .block-text__title p, #footer .box-map .link a 
      font-size: 16px
   #footer .box-map .block-text__title p 
      padding: 10px 0 20px 0
   #footer .box-map .m45 
      margin-bottom: 30px
   .ymaps-2-1-73-map
      width: 100%!important
   #footer .box-footer .block-two .block-inputs input 
      width: 140px
   #footer .box-footer .block-one 
      padding-left: 15px
   #footer .box-map .arrow:before
      height: 190px
   .blocks-text 
      width: 47%
   .section-portfolio .portfolios .portfolio-item-middle ,
   .section-portfolio .portfolios .portfolio-item 
      height: 160px
   .section-portfolio .pc .slider-for .slick-active 
      height: 250px!important



@media screen and (max-width: 768px)
   .download, .wrapper 
      left: calc(50% - 160px)
      padding: 40px 20px
   #conf .two_stage .container .stage-2-wrap, .conc .two_stage .container .stage-2-wrap, .presentation .two_stage .container .stage-2-wrap 
      text-align: center
   .presentation .section-3 .container .our_styles_items 
      align-items: center
   #conf .areas__description-wrapper, .conc .areas__description-wrapper, .presentation .areas__description-wrapper 
      padding: 10px
   #footer .box-footer .block-for .block-inputs input 
      width: 90%
   #footer .box-form #form 
      flex-direction: column
      width: 100%
   #footer .box-form #form input
      width: 90%
   #details
      margin-top: 20px
   #details .block-detalies__two 
      height: 100%
      width: 100%
   #details .block-detalies__one 
      display: none
   .block-two-wrapper
      & img
         height: 100px
   .block-two-wrapper .loft-items ,
   #loft .container .box-loft .block-two-main .block-two .block-two-wrapper .block-two-item
      padding: 0
      font-size: 12px
   #loft .container .box-loft .block-two-main .block-two .block-two-wrapper .block-two-title-fst,
   #loft .container .box-loft .block-two-main .block-two .block-two-wrapper .block-two-title 
      font-size: 25px
   #loft .container .box-loft .block-one 
      max-height: 570px
      min-height: 570px
      background-position: -980px center
   #loft .container .box-loft .block-two-main 
      height: 570px
   #loft .container .box-loft .block-two-main .block-one-overlay .block-one-overlay-text p 
      font-size: 25px
   .block-one-overlay-click
      display: none
   #loft .container .box-loft .block-two-main .block-one-overlay .block-one-overlay-loft-fig 
      width: 140px
      height: 180px
   #loft .container .box-loft .block-two-main .block-one-overlay .block-one-overlay-click 
      right: 0px
      bottom: -115px
      z-index: 2
   .section-3 .container .our_styles_items 
      flex-direction: column
   .section-3 .container .our_styles_items .our_styles-title 
      margin: 0
      padding: 0
   .section-3 .container .our_styles_items .our_styles-title h4 
      line-height: 40px
   .section-portfolio .portfolio-block .portfolio-title 
      font-size: 25px
      padding-top: 40px
      padding-bottom: 20px
   .description-box 
      margin: 10px 0 10px
   #p
	   display: none
   #mobl
      display: block
   #mobl .description-box_two .description-item p 
      line-height: 25px
   #mobl .description-item p 
      margin: 5px 0
   .section-2 .event-wrapper .events-items-left, .section-2 .event-wrapper .events-items-right
      margin: 10px 25px
   #form-top 
      flex-direction: column
      width: 100%
   .conc .areas .container .areas__description 
      width: 100%
   .conc .two_stage .container .stage-2-wrap 
      text-align: center
   .conc .section-3 .container .our_styles_items .our_styles-description 
      flex-direction: column
      align-items: end
   .section-2 .section-2-wrapper
      flex-direction: column
   .two_stage .container .two_stage-wrapper 
      flex-direction: column
   .two_stage .container .two_stage-wrapper .two_stage-wrapper-map 
      width: 100%
   .two_stage .container .two_stage-wrapper .two_stage-wrapper-description 
      width: 100%
      padding: 0
   .two_stage .container .stage-2-wrap 
      top: 0
      left: calc(50% - 73px)
   .two_stage .container 
      padding-bottom: 165px
   .two_stage .container .two_stage-title 
      font-size: 30px
      text-align: center
   .spaces .container .spaces-wrapper ,
   .areas .container
      flex-direction: column
   .section-2 .slick-next:before 
	   display: block
   .areas .container .areas__description 
      width: 100%
      text-align: center
   .areas .container .areas__scheme-wrapper 
      position: static
      margin: 0
      padding: 0
      width: 100%
      display: flex
      flex-direction: column
      text-align: center
   .spaces .container .spaces-wrapper .spaces__description 
      padding: 0 10px
      text-align: center
   .areas .container .areas__scheme-wrapper .areas__scheme-text 
      text-align: center
      white-space: nowrap
      position: static
   .areas__scheme 
      width: 100%
   #mob
	   display: block
   main .section-2 .event-formats .slid
      display: block
   .section-portfolio .portfolios 
      justify-content: space-evenly
      flex-wrap: wrap

   // main .section-portfolio .pc
   //    display: none
   main .section-portfolio .mob
      display: block
   main .mob .portfolio-item
      background-size: auto
      margin: 0 5px 20px 5px
   .section-portfolio .mob .portfolio-item 
    background-size: auto
   .section-portfolio .portfolios .portfolio-item 
      max-width: 330px
      width: 100%
      margin: 5px 0
   .header 
      padding: 10px 0
   .burger-menu
      cursor: pointer
      margin-right: 20px
      display: block
      position: relative
      z-index: 9
      &:hover span
         background: #000

      span
         display: block
         width: 10px
         height: 10px
         border-radius: 50px
         border: 1px solid #000
         transition: .3s   
         &:nth-child(2n)
            margin: 5px 0

   .tel ,
   .address
      display: none
   /*footer*/
   #footer .box-footer 
      flex-direction: column-reverse
   #footer .box-footer .block-one 
      width: 100%
      padding-left: 0px
      text-align: center
   #footer .box-footer .block-two 
      width: 100%
   .form-two .btn
      margin-bottom: 40px
   #footer .box-footer .block-two .block-two__descr p 
      font-size: 12px
      margin-bottom: 25px
   .box-map
      position: relative
   .block-text
      position: absolute
   iframe 
      height: 525px
   .block-text 
      position: absolute
      bottom: 0
      right: 0
      background-color: #fff
      padding: 10px
   #footer .box-map .block-text 
      margin-left: 0px
      margin-right: 0px
   #footer .box-map .block-text__title span 
      font-size: 16px
   #footer .box-map .m45 
      margin-bottom: 18px
   #footer .btn 
      padding: 15px 15px
   #footer .box-form #form input 
      padding: 15px 15px
   #footer .box-map .arrow:before 
      content: ''
      position: absolute
      display: block
      background: url(../../img/diagram-mob.png) center no-repeat
      width: 20px
      height: 58px
      right: 90px
      top: 30px
   .section_form .box-form .form-text p, #footer .box-form .form-text p 
      font-size: 16px
      margin: 20px 0

   /*image*/
   #image .box-image .block-image 
      text-align: center
      width: 100%
   /*detals*/
   #details-form
      display: none
   #details .block-detalies__two ul li 
      font-size: 12px
      line-height: 15px
   #details .block-detalies__two .block-detalies__title p 
      font-size: 15px
      margin-bottom: 15px
   #details .block-detalies__two .block-detalies__descr 
      font-size: 14px
      margin-bottom: 20px
   #details .block-detalies__one
      background: url(../../img/detal-ma.png) bottom no-repeat
   #details .figure p 
      padding: 50px 0 0px 0
   #details .block-detalies__one img 
      width: 100%
      display: none
   #details .figure 
      background: none
   #details .figure p 
      font-size: 12px
      text-align: center
   #details .block-dn
      display: block
   .down 
      & img
         width: 20px
      & span
         margin-right: 10px


   /* mobile-menu */
   #id-menu-items
      display: none
   .header .container .logo 
      width: 30%
      margin-left: 10px

   /* section-1 */
   main .section-main .container .main-title
      h1
         font-size: 30px 
      h2
         font-size: 18px
      p
         font-size: 16px 
   main .section-main .container .main-title 
      display: flex
      justify-content: center
      align-items: baseline
      flex-direction: column
      height: 100%
   .section-main .container
      height: 450px
      background-size: cover
   main .section-main .container .navigation-bottom nav .menu-items 
      padding: 0 5px
   main .section-main .container .navigation-bottom .arrow-down 
      margin-left: 30px
   main .section-main .container .navigation-bottom nav 
      width: 75%
   main .section-main .container .navigation-bottom nav .menu-items .menu-item a
      margin: 0 0px
   main .section-main .container .navigation-bottom nav .menu-items .menu-item 
      padding: 12px 2px
   main .section-main .container .navigation-bottom nav .menu-items .menu-item a 
      font-size: 13px
   main .section-main .container .navigation-bottom nav .menu-items 
      padding: 0 5px
      display: flex
      justify-content: space-between
   main .section-main .container .navigation-bottom nav .menu-items 
      margin: 0 0% 0 0
   .none
      display: none
   .header a img
      width: 135px
   main .section-main .container .main-title button 
      padding: 10px 45px
      margin-top: 20px
      font-size: 14px
   .section-main .container .main-title h2 
      padding: 10px 0 5px 0
   .section-portfolio .portfolios .portfolio-item .portfolio-btn 
      max-width: 100px
      font-size: 12px
      padding: 10px 0
   .section_form .box-form .btn 
      padding: 15px 0px
   .section_form .box-form #form-top input, .section_form .box-form .btn 
      padding: 15px 15px
      width: 90%
   .section-portfolio .stage-title 
      font-size: 18px
   .section-portfolio .portfolio-block .portfolio-title:after 
      display: none
   .section_form .box-form 
      padding: 0px 0 0px 0
      width: 100%
      margin: 20px 0
   .section-3 .container .background-styles 
      min-height: 490px
   .background-styles-figure img 
      width: 115px
   .section-portfolio .portfolios .portfolio-item .portfolio-figure-icon
      width: 125px
      height: 80px
      background-size: 100%
   .section-portfolio .portfolios .portfolio-item .portfolio-figure-icon[data-portfolio-figure='0'] 
      top: -30px
      left: -30px
      width: 100px
      height: 200px
      background-size: 100%
   .section-3 .container .our_styles_items .our_styles-title h4 
      font-size: 30px
   .section-3 .container .our_styles_items .our_styles-description 
      font-size: 12px
      margin-right: 0px
      margin-bottom: 10px
   .section-3 .container .our_styles_items .our_styles-title .figure-img span 
      height: 40px
      left: 3px
      bottom: 6px
   .figure-img img
      margin-top: 5px
      width: 20px
   .section-2 .container .description-items .description-item[data-description='1'] p 
      margin-left: 15px
   .description-item img
      width: 120px
   .section-2 .container .description-items
      align-items: end
      padding: 5px 0 0 10px
   // .blocks
   //    display: none
   #loft .container .box-loft .block-two-main .block-one-overlay 
      width: 120px
   .section-2 .container .description-items .description-item
      font-size: 10px
      line-height: 16px
      margin: 0 5px
   .section-2 .container .section-2-wrapper h3 
      margin-left: 0
      font-size: 28px
      line-height: 40px
      text-align: center
      margin: 20px 0px
      padding: 0
   .section-2 .event-formats
      width: 100%
      height: 320px
   .section-2 .slick-next 
      top: 145px
      right: 50px
      left: auto
   .description-item p 
      margin: 10px 0
   .pd
      padding: 0
   .description-item 
      flex-direction: column
   .description-box_two 
      flex-direction: column
   .description-box_two .description-item p 
      padding: 0 0
   .section-2 .container 
      min-height: 550px
   .section-2 .container .description-items .description-item[data-description='2'] p 
      transform: translateX(0px)
   .mob-block .slick-slide .slick-current .slick-active
	   display: block
   main .section-2 .container .section-2-wrapper .event-formats .event-wrapper 
      display: flex
      flex-direction: column
   main .section-2 .container .section-2-wrapper .event-formats .slid
      display: block
      margin-left: 35px
   .event-wrapper
      display: flex
      margin-left: 0
      justify-content: space-evenly
   .events-items-left , 
   .events-items-right
      list-style-type: circle	
      padding: 0
      margin: 0px
   .presentation .spaces__map-title 
      position: absolute
      bottom: -40px
      right: 40px
      font-size: 25px
   .presentation .spaces__map 
      margin-bottom: 50px
   .blocks-text
      display: none
   .section-portfolio .portfolios .portfolio-item 
      width: 100%!important
   .slick-track 
      justify-content: center
   #pc .slider-for .portfolio-item 
      margin: 0 auto
      width: 100%!important

 
@media screen and (max-width: 425px)
   #loft .container .box-loft .block-one 
      background-position: -1080px center
   .burger-menu span 
      width: 8px
      height: 8px
   main .section-main .container .main-title small 
      margin-bottom: 10px
   .two_stage .container .two_stage-title 
      font-size: 20px
   .spaces .container .spaces-wrapper .spaces__description .spaces__description-title 
      font-size: 25px
   .two_stage .container .two_stage-wrapper .wrap-map-text p 
      font-size: 12px
   .two_stage .container .stage-2-wrap h4 
      font-size: 25px
   .two_stage .container .stage-2-wrap p 
   .two_stage .container .stage-2-wrap .map__title
      font-size: 30px
      font-size: 15px
   .two_stage .container .stage-2-wrap 
      top: 30px
      left: calc(50% - 46.5px)
   #footer .box-map .arrow:before 
      transform: rotate(0deg)
   main .section-main .container .main-title h1 
      letter-spacing: 2px
   main .section-main .container .main-title h2 
      text-align: left
      margin-bottom: 15px
   .container .main-title p 
      font-size: 15px
      text-align: left
   main .section-main .container .main-title 
      text-align: left
      margin: 0
      padding: 0 5px
   main .section-main .container .menu-items .menu-item 
      margin-left: 0
   .container .main-title
      text-align: left
   .section-3 .container .background-styles .background-styles-modal 
      padding: 30px
   .section-3 .container .background-styles .background-styles-modal .modal-description:after
      right: -30px
      top: -30px
   .events-items-left 
      padding: 0
   .section-2 .container .section-2-wrapper .event-formats .title-actual-event 
      font-size: 16px
   main .mob .portfolio-item
      margin: 0 0px 20px 0px
   #details .block-dn .down a span
      font-size: 14px

   .section-3 .container .our_styles_items .our_styles-description 
      font-size: 10px
   .section-3 .container .our_styles_items .our_styles-title h4 
      font-size: 20px
   main .section-main .container .navigation-bottom nav .menu-items .menu-item a 
      font-size: 13px
   .section-2 .title-actual-event 
      line-height: 28px
      margin-left: 10px
   .section-2 .event-wrapper
      margin: 0 15px
   .section-2 .slick-next 
      top: 160px
      left: 16px
   .wrapper
      top: calc(50% - 229px)
      left: 0
      padding: 18px 25px
      max-width: 100%
      width: 100%
   .wrapper .box-wrapper__title p 
      font-size: 16px
   .window 
      top: calc(50% - 80px)
      left: 0
      padding: 35px
      width: 100%