main
	.section-main
		box-sizing: border-box
		.container
		
			min-height: 600px
			background-image: url('../img/main-background.png')
			background-repeat: no-repeat
			background-size: cover
			background-position: left bottom
			display: flex
			flex-direction: column
			justify-content: space-between
			max-width: 1920px
			@media screen and (max-width: 764px)
				background-image: url('../img/main-bg-mobile.png')
			.navigation-bottom
				display: flex
				justify-content: space-between
				align-items: center
				nav
					width: 63%
					background: #fff
					.menu-items
						display: flex
						margin: 0 7% 0 0
						.menu-item
							list-style: none
							padding: 17px 0
							border-top: 3px solid transparent
							transition: .3s
							&:hover
								border-top: 3px solid #000
													
							a
								text-decoration: none
								color: #333333
								font-size: 16px
								font-weight: 400
								margin: 0 12px

						.menu-item-active
							border-top: 3px solid #000


						
							

								



				.arrow-down
					margin-left: 13%
					margin-bottom: 1px
					cursor: pointer
					position: relative
					animation: scrollDown 1s ease infinite

			.main-title
				color: #333333
				text-transform: uppercase
				margin-left: 110px

				h1
					font-family: "Roboto - Black" , sans-serif
					font-weight: 700
					color: #333333
					font-size: 60px
					text-transform: uppercase
					letter-spacing: 8px
					margin: 20px 0 40px
				h2
					color: #333333
					font-family: Roboto
					font-size: 30px
					font-weight: 500
					text-transform: uppercase
					letter-spacing: 6px
					margin-bottom: 40px
				p
					color: #333333
					font-size: 24px
					font-weight: 400
					text-transform: uppercase
					letter-spacing: 4.8px
					margin-bottom: 25px
				small
					color: #333333
					font-size: 18px
					font-weight: 300
					letter-spacing: 0.9px	
					margin-bottom: 40px
				button
					color: #626361
					display: block
					border: 1px solid #626361
					padding: 16px 70px
					background: transparent
					color: #333333
					font-family: Roboto
					margin-top: 40px
					font-weight: 500
					border-radius: 3px
					transition: .3s
					cursor: pointer
					font-size: 18px
					margin-bottom: 100px
					&:hover
						background: #fff


			.menu-items
				display: flex
				margin-left: 80px
				.menu-item
					list-style: none
					margin-left: 20px
					padding: 25px 0
					&:first-child
						margin-left: 0

					a
						text-decoration: none
						color: #333333
						font-size: 16px
						font-weight: 400

