.section-portfolio
	position: relative
	.portfolio-block
		.portfolio-title
			position: relative
			text-align: center
			color: #333333
			font-family: Roboto
			font-size: 36px
			padding: 40px 0
			font-weight: 400
			&:after
				content: ''
				background: url(../img/fg.png) center no-repeat
				z-index: -1
				display: block
				height: 150px
				position: absolute
				left: 0
				right: 0
				top: 8px
				bottom: 0



			& span
				font-weight: 600
		
	
		

	.stage-title
		color: #333333
		font-family: Roboto
		font-size: 30px
		font-weight: 700
		border-bottom: 2px solid #333
		display: inline-block
		margin: 10px 0 12px 110px
		

	.portfolios
		display: flex
		justify-content: space-between

		.portfolio-item
			width: 30%
			max-width: 500px
			height: 260px
			background-repeat: no-repeat
			background-size: 100%
			background-position: center
			display: flex
			justify-content: center
			align-items: center
			
			position: relative
			.portfolio-btn
				color: #333333
				width: 100%
				max-width: 184px
				font-family: Roboto
				font-size: 18px
				font-weight: 500
				display: block
				padding: 15px
				border: 1px solid #626262
				background-color: rgba(255,255,255,.9)
				cursor: pointer
				border-radius: 25px
				transition: .5s
				&:hover
					box-shadow: 0 0 7px rgba(0,0,0,.7)

			.portfolio-figure-icon
				background-image: url('../img/figure-portfolio.png')
				width: 323px
				height: 407px
				background-repeat: no-repeat
				background-size: 74%
				position: absolute
				z-index: -1
				&[data-portfolio-figure='0']
					top: 16px
					left: 25px
					width: 200px
					background-size: 80%
				&[data-portfolio-figure='1']
					left: 3px
					bottom: -88px
					display: inline-block
				
						

		.portfolio-item-middle
			width: 35%
			height: 260px
.portfolio-block
	position: relative
// .portfolio-block__img
// 	background: url(../img/fg.png) center no-repeat
// 	background-size: contain
// 	bottom: 0
// 	top: -25px
// 	height: 555px
// 	left: 260px
// 	right: 0
// 	z-index: -1
