main
	.section-main
		box-sizing: border-box
		.container
		
			min-height: 900px
			
			background-repeat: no-repeat
			background-size: cover
			background-position: center center
			display: flex
			flex-direction: column
			justify-content: space-between
			max-width: 1920px

			.navigation-bottom
				display: flex
				justify-content: space-between
				align-items: center
				nav
					width: 65%
					background: #fff
					.menu-items
						display: flex
						margin-left: 5%
						.menu-item
							list-style: none
							padding: 8px 0						
							a
								text-decoration: none
								color: #333333
								font-size: 16px
								font-weight: 400
								margin: 0 35px
								



				.arrow-down
					margin-left: 8%
					margin-bottom: 1px

			.main-title
				color: #333333
				text-transform: uppercase
				margin-left: 8%

				h1
					font-family: "Roboto - Black" , sans-serif
					font-size: 38px
					font-weight: 700

				h2
					
					font-family: Roboto
					font-size: 30px
					font-weight: 500
					line-height: 36px
					padding: 10px 0 15px 0
				p
					font-family: Roboto
					font-size: 24px
					font-weight: 400
					padding: 10px 0 15px 0
				small
					font-weight: 300
					font-family: Roboto	
				button
					color: #626361
					display: block
					border: 1px solid #626361
					padding: 10px 65px
					background: transparent
					color: #333333
					font-family: Roboto
					margin-top: 40px
					font-weight: 500
					border-radius: 3px
					transition: .3s
					cursor: pointer
					&:hover
						background: #fff


			.menu-items
				display: flex
				margin-left: 5%
				.menu-item
					list-style: none
					margin-left: 10px
					padding: 25px 0
					&:first-child
						margin-left: 0

					a
						text-decoration: none
						color: #333333
						font-size: 16px
						font-weight: 400

