.section-3
	.container
		max-width: 100%
		position: relative
		.background-styles
			min-height: 936px
			background-repeat: no-repeat
			background-size: cover
			background-position: center
			display: flex
			justify-content: center
			align-items: flex-end
			position: relative
			.background-styles-modal
				background-color: rgba(255,255,255,.6)
				position: absolute
				left: 0
				bottom: 0
				padding: 40px
				display: none
				z-index: 3

				.modal-description
					text-transform: uppercase
					position: relative
					&:after
						content: ''
						background: url(../../img/end.svg) center no-repeat
						display: block
						width: 30px
						height: 30px
						position: absolute
						right: -35px
						top: -35px

				.modal-offers
					margin: 30px 0

				.modal-offers-title
					font-size: 18px
					font-weight: 400		

				.modal-offers-items
					padding-left: 0
					
					li
						list-style-type: circle
						margin-left: 15px
						padding-left: 3px
			.background-styles-figure
				display: flex
				justify-content: center
				flex-direction: column
				align-items: center
				margin-right: 35%
				& p
					color: #fff
					cursor: pointer
				& img
					cursor: pointer
				img,
				a
					@extend .d-b

				.plus_icon
					margin: 20px 0
					position: relative
					z-index: 1

				a
					color: #ffffff
					font-family: Roboto
					font-size: 16px
				

				
								
		.our_styles_items
			display: flex
			align-items: center
			justify-content: space-between
			.our_styles-title
				display: flex
				align-items: center
				justify-content: space-between
				margin-left: 5%
				h4
					color: #333333
					font-family: Roboto
					font-size: 48px
					font-weight: 700
					line-height: 80px
					

			.our_styles-description
				color: #333333
				font-family: Roboto
				font-size: 16px
				font-weight: 300
				width: 100%
				text-align: center
				margin-right: 10%
				padding: 0 10px
	.figure-img
		display: none

.conc .background-styles
	background: url('src/img/conc-loft.webp') center center no-repeat 
.section-3 .container .background-styles .background-styles-figure
	margin-right: 30%
.presentation .section-3 .container .present .background-styles-figure 
	margin-bottom: 40%
#ind .port-btn .btn 
	background: #273562