.section-portfolio
	position: relative
	.portfolio-block
		.portfolio-title
			position: relative
			text-align: center
			color: #333333
			font-family: Roboto
			font-size: 36px
			padding: 40px 0 0px
			font-weight: 400
			& span
				font-weight: 600
		
	
		

	.stage-title
		color: #333333
		font-family: Roboto
		font-size: 30px
		font-weight: 700
		display: block
		align-items: center
		text-align: center
		margin: 0
		padding: 20px 0
		// border-bottom: 2px solid #333
		// display: inline-block
		// margin: 10px 0 12px 110px
		

	.portfolios
		display: flex
		justify-content: space-between

		.portfolio-item
			background-size: cover
			width: 33%
			background-repeat: no-repeat
			background-size: 100%
			background-position: center
			display: flex
			justify-content: center
			align-items: center
			position: relative
			margin: 10px 5px
			background-size: cover
			height: 21vw
			&:last-child
				margin-right: 0
			&:first-child
				margin-left: 0
				

			.portfolio-btn
				color: #333333
				width: 100%
				max-width: 184px
				font-family: Roboto
				font-size: 18px
				font-weight: 500
				display: block
				padding: 15px
				border: 1px solid #626262
				background-color: rgba(255,255,255,.9)
				cursor: pointer
				border-radius: 25px
				transition: .5s
				&:hover
					box-shadow: 0 0 7px rgba(0,0,0,.7)

			// .portfolio-figure-icon
			// 	background-image: url('../img/figure-portfolio.png')
			// 	width: 323px
			// 	height: 407px
			// 	background-repeat: no-repeat
			// 	background-size: 74%
			// 	position: absolute
			// 	z-index: -1
			
			// 	&[data-portfolio-figure='0']
			// 		top: 16px
			// 		left: 25px
			// 		width: 200px
			// 		background-size: 80%
			// 	&[data-portfolio-figure='1']
			// 		left: 3px
			// 		bottom: -88px
			// 		display: inline-block
				

		.portfolio-item-middle
			height: 220px
			width: 35%
			
#pc
	position: relative
.blocks-text
	position: absolute
	right: 0
	top: 0
	width: 57%
	padding: 0 20px
.pc .slider-for .portfolio-item
	background-size: cover
.pc .slider-nav .portfolio-item
	background-size: 100%
.slick-track
	display: flex
	justify-content: end
.section-portfolio .pc .slider-for .slick-active
	width: 400px!important
	background-size: auto
.pc .slider-for .portfolio-item
	transition: 0s ease!important
.section-portfolio .pc .slider-for .slick-track
	margin-left: 50px
.portfolio-block
	position: relative	
.slider-for
	margin: 65px 0
	position: relative
.slick-dots li 
	width: 15px
	height: 15px
	background-color: #fff
	border: 1px solid #000
	border-radius: 50%
.slick-dots li button:before 
	content: ''
.slick-dots .slick-active
	width: 18px
	height: 18px
	background-color: #000
	box-shadow: none
.slick-dots 
	display: flex
	justify-content: center
	align-items: center
	// & .slick-slide .slick-active
	// 	background: #000
	// 	margin-top: 100px
#pc .slick-next:before 
	content: ''
	background: url(../../img/right-arrow_копия.svg) center no-repeat
	width: 30px
	height: 30px
	display: block
#pc .slick-prev:before
	content: ''
	background: url(../../img/right-arrow_копия.svg) center no-repeat
	width: 30px
	height: 30px
	display: block
	transform: rotate(180deg)
#pc .slick-prev 
	top: -30px
	left: 30px
#pc .slick-next
	top: -30px
	right: 30px
#pc .slider-for  .portfolio-item 
	margin: 10px 0px
.qwer
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
.port-btn
	display: flex
	justify-content: center
	align-items: center
	margin: 40px 0 0px
.port-btn .btn
	border-radius: 10px 
	padding: 15px 50px
	background: #e40be4
	outline: none
	color: #fff
	border: none
	font-size: 18px
	font-weight: 300
	letter-spacing: .9px
	transition: .5s
	cursor: pointer
.section-portfolio 
	& .section-2
		height: 100%
		min-height: 100%
	& .section-2 .section-2-wrapper 
    	justify-content: center
	& .section-2 .container 
    	min-height: 100%
	& .section-2 .event-formats
		width: 50%