.spaces
   background: url('../img/page-2-paints.png') no-repeat -10px -59px
   min-height: 878px
   display: flex
   flex-direction: column
   justify-content: space-between
   align-items: center
   margin: 0 auto
   .container
      width: 90%
      margin: 0 auto
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      .spaces-wrapper
         display: flex
         justify-content: space-between
         align-items: center
         
         .spaces__description
            color: #333
            flex-basis: 40%
            .spaces__description-title
               font-size: 50px

            .spaces__description-subtitle ,
            .spaces__description-room ,
            .spaces__stage-description
               font-size: 18px
               font-weight: 400
               color: #414141
               

            .spaces__description-subtitle 
               padding: 15px 0 40px 0
               
            .spaces__description-room
               line-height: 29px
            
            .spaces__stage-description
               margin-top: 25px

         .spaces__map
            width: 458px
            height: 328px
            background: url('../img/page-2-map.png') no-repeat center / cover

   .container
      .spaces__email-send,
      .spaces-email
         color: #333333
         font-size: 16px
         font-weight: 700
        
      .spaces__email-send 
         line-height: 48px 

      
      .spaces-email
         display: block
         width: 100%
         max-width: 241px
         padding: 17px 0
         border: 1px solid #de0aa0
         border-radius: 25px
         text-align: left
         padding-left: 20px
         box-sizing: border-box
         margin-bottom: 90px 

