@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.d-b, .header .container .logo, .section-3 .container .background-styles .background-styles-figure img,
.section-3 .container .background-styles .background-styles-figure a, .section-3 .container .our_styles_items .our_styles-title .figure-img span, .section-3 .container .our_styles_items .our_styles-title .figure-img img {
  display: block; }

.d-n {
  display: none; }

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

h1, h2, h3, h4, h5, p {
  margin-bottom: 0;
  padding: 0;
  margin-top: 0; }

ul li {
  padding-left: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

div, span, input, form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-style: sans-serif;
  margin: 0 auto; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.header {
  padding: 15px 0; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header .container .logo {
      width: 30%;
      margin-left: 8%; }
    .header .container .contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 69%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .header .container .contacts .tel {
        margin-right: 10%; }
      .header .container .contacts .address,
      .header .container .contacts .lang {
        margin-right: 10%;
        cursor: pointer;
        text-decoration: underline; }
        .header .container .contacts .address .lang-letter,
        .header .container .contacts .lang .lang-letter {
          display: block;
          color: #333333; }
      .header .container .contacts .tel,
      .header .container .contacts .address,
      .header .container .contacts .lang {
        color: #333333;
        font-family: Roboto;
        font-weight: 400;
        text-decoration: none; }
        .header .container .contacts .tel .caret,
        .header .container .contacts .address .caret,
        .header .container .contacts .lang .caret {
          -webkit-transform: translate(1px, -6px);
          transform: translate(1px, -6px); }

main .section-main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  main .section-main .container {
    min-height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1920px; }
    main .section-main .container .navigation-bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      main .section-main .container .navigation-bottom nav {
        width: 65%;
        background: #fff; }
        main .section-main .container .navigation-bottom nav .menu-items {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-left: 5%; }
          main .section-main .container .navigation-bottom nav .menu-items .menu-item {
            list-style: none;
            padding: 8px 0; }
            main .section-main .container .navigation-bottom nav .menu-items .menu-item a {
              text-decoration: none;
              color: #333333;
              font-size: 16px;
              font-weight: 400;
              margin: 0 35px; }
      main .section-main .container .navigation-bottom .arrow-down {
        margin-left: 8%;
        margin-bottom: 1px; }
    main .section-main .container .main-title {
      color: #333333;
      text-transform: uppercase;
      margin-left: 8%; }
      main .section-main .container .main-title h1 {
        font-family: "Roboto - Black" , sans-serif;
        font-size: 38px;
        font-weight: 700; }
      main .section-main .container .main-title h2 {
        font-family: Roboto;
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        padding: 10px 0 15px 0; }
      main .section-main .container .main-title p {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        padding: 10px 0 15px 0; }
      main .section-main .container .main-title small {
        font-weight: 300;
        font-family: Roboto; }
      main .section-main .container .main-title button {
        color: #626361;
        display: block;
        border: 1px solid #626361;
        padding: 10px 65px;
        background: transparent;
        color: #333333;
        font-family: Roboto;
        margin-top: 40px;
        font-weight: 500;
        border-radius: 3px;
        -webkit-transition: .3s;
        transition: .3s;
        cursor: pointer; }
        main .section-main .container .main-title button:hover {
          background: #fff; }
    main .section-main .container .menu-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 5%; }
      main .section-main .container .menu-items .menu-item {
        list-style: none;
        margin-left: 10px;
        padding: 25px 0; }
        main .section-main .container .menu-items .menu-item:first-child {
          margin-left: 0; }
        main .section-main .container .menu-items .menu-item a {
          text-decoration: none;
          color: #333333;
          font-size: 16px;
          font-weight: 400; }

.section_form .box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 39px 0 48px 0; }
  .section_form .box-form .form-text p {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 37px; }
  .section_form .box-form #form-top input,
  .section_form .box-form .btn {
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #626262;
    font-size: 16px;
    color: #333333;
    padding: 18px 30px;
    outline: none; }
  .section_form .box-form .btn {
    padding: 18px 70px;
    background: #273562;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.9px;
    -webkit-transition: 500ms ease;
    transition: 500ms ease; }
    .section_form .box-form .btn:hover {
      -webkit-transition: 500ms ease;
      transition: 500ms ease;
      background: #364c93; }

.section-2 .container {
  max-width: 1920px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 879px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .section-2 .container .section-2-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section-2 .container .section-2-wrapper h3 {
      color: #333333;
      font-family: Roboto;
      font-size: 48px;
      font-weight: 700;
      line-height: 48px;
      padding-top: 40px;
      margin-left: 11%; }
    .section-2 .container .section-2-wrapper .event-formats {
      color: #333;
      background: rgba(255, 255, 255, 0.8);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      height: 265px;
      width: 50%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .section-2 .container .section-2-wrapper .event-formats .title-actual-event {
        font-family: Roboto;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 1.5px;
        line-height: 36px;
        margin-left: 16%; }
      .section-2 .container .section-2-wrapper .event-formats .event-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 12%; }
        .section-2 .container .section-2-wrapper .event-formats .event-wrapper .events-items-left,
        .section-2 .container .section-2-wrapper .event-formats .event-wrapper .events-items-right {
          list-style-type: circle; }
  .section-2 .container .description-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .section-2 .container .description-items .description-item {
      color: #333333;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px; }
    .section-2 .container .description-items .description-item[data-description='1'] p {
      margin-left: 67px;
      display: block;
      margin-bottom: 10px; }
    .section-2 .container .description-items .description-item[data-description='1'] img {
      display: block; }
    .section-2 .container .description-items .description-item[data-description='0'] p {
      margin-bottom: 60px; }
    .section-2 .container .description-items .description-item[data-description='2'] p {
      margin-bottom: 50px;
      -webkit-transform: translateX(12px);
      transform: translateX(12px); }

.section-3 .container {
  max-width: 1920px;
  position: relative; }
  .section-3 .container .background-styles {
    min-height: 936px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .section-3 .container .background-styles .background-styles-figure {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 35%; }
      .section-3 .container .background-styles .background-styles-figure .plus_icon {
        margin: 20px 0; }
      .section-3 .container .background-styles .background-styles-figure a {
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px; }
  .section-3 .container .our_styles_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section-3 .container .our_styles_items .our_styles-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: 5%;
      width: 30%; }
      .section-3 .container .our_styles_items .our_styles-title h4 {
        color: #333333;
        font-family: Roboto;
        font-size: 48px;
        font-weight: 700; }
      .section-3 .container .our_styles_items .our_styles-title .figure-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative; }
        .section-3 .container .our_styles_items .our_styles-title .figure-img span {
          background: #DBD5C9;
          width: 1px;
          height: 85px;
          position: absolute;
          left: 8px;
          bottom: 8px; }
    .section-3 .container .our_styles_items .our_styles-description {
      color: #333333;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      width: 50%;
      margin-right: 5%; }

.section-portfolio {
  position: relative; }
  .section-portfolio .portfolio-title {
    position: relative;
    text-align: center;
    color: #333333;
    font-family: Roboto;
    font-size: 40px;
    padding: 40px 0;
    font-weight: 400; }
    .section-portfolio .portfolio-title:after {
      content: '';
      background: url(../img/fg.png) center no-repeat;
      z-index: -1;
      background-size: contain;
      display: block;
      height: 150px;
      position: absolute;
      left: 0;
      right: 0;
      top: 8px;
      bottom: 0;
      right: -260px; }
    .section-portfolio .portfolio-title span {
      font-weight: 600; }
  .section-portfolio .stage-title {
    color: #333333;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px solid #333;
    display: inline-block;
    margin: 15px 0 20px 0; }
  .section-portfolio .portfolios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section-portfolio .portfolios .portfolio-item {
      width: 30%;
      max-width: 500px;
      height: 260px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .section-portfolio .portfolios .portfolio-item .portfolio-btn {
        color: #333333;
        width: 100%;
        max-width: 184px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        display: block;
        padding: 15px;
        border: 1px solid #626262;
        background-color: rgba(255, 255, 255, 0.9);
        cursor: pointer;
        border-radius: 25px;
        -webkit-transition: .5s;
        transition: .5s; }
        .section-portfolio .portfolios .portfolio-item .portfolio-btn:hover {
          -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.7); }
    .section-portfolio .portfolios .portfolio-item-middle {
      width: 35%;
      height: 260px; }

.portfolio-block {
  position: relative; }

#loft {
  margin-top: 20px; }
  #loft .box-loft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #loft .box-loft .block-one {
      position: relative; }
      #loft .box-loft .block-one img {
        width: 95%; }
      #loft .box-loft .block-one p {
        position: absolute;
        color: #333333;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 1.8px;
        right: -200px;
        top: 210px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg); }
      #loft .box-loft .block-one:after {
        content: '';
        background: url(../img/loft-fig.png) center no-repeat;
        position: absolute;
        width: 190px;
        height: 210px;
        bottom: 5px;
        right: -35px; }
    #loft .box-loft .click {
      position: absolute;
      bottom: 210px;
      right: 0px; }
      #loft .box-loft .click p {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.8px;
        margin-bottom: 20px;
        right: 0;
        top: -50px; }

#details .box-detalies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#details .block-detalies__two {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: url(../img/фон.png);
  padding: 30px 10px 40px 50px; }
  #details .block-detalies__two .block-detalies__title {
    font-family: "Roboto Medium" ,sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-bottom: 20px; }
  #details .block-detalies__two .block-detalies__descr {
    font-family: "Roboto - Regular",sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 40px; }
  #details .block-detalies__two ul {
    margin-bottom: 75px;
    padding: 0; }
    #details .block-detalies__two ul li {
      padding: 0;
      margin: 0;
      list-style: circle;
      color: #333333;
      font-family: "Roboto - Regular",sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px; }

#details #details-form .label-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#details #details-form .label-email {
  color: #333333;
  font-family: "Roboto - Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.9px; }

#details #details-form .label-namber {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
  font-family: "Roboto - Regular",sans-serif; }

#details #details-form input {
  width: 300px;
  height: 57px;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #7b7b7b;
  background-color: #ffffff;
  padding-left: 30px;
  outline: none;
  border-right: none;
  margin: 24px 0 27px; }

#details #details-form #label-namber {
  width: 180px; }

#details #details-form .label-date {
  width: 120px;
  padding: 0 10px 0 15px;
  border-radius: inherit; }

#details #details-form .button {
  width: 170px;
  height: 57px;
  font-family: "Roboto - Regular",sans-serif;
  border-radius: 0 10px 10px 0;
  border: 1px solid #7b7b7b;
  background-color: #273562;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  margin: 24px 0 27px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease; }
  #details #details-form .button:hover {
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    background: #364c93; }

#details .figure {
  background: url(../img/фигура.png) center no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #details .figure span {
    font-family: "Roboto - Bold" ,sans-serif;
    font-weight: 700; }
  #details .figure p {
    width: 63%;
    padding: 60px 0;
    color: #333333;
    font-size: 18px;
    font-family: "Roboto - Regular" ,sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px; }

#details .block-detalies__one {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  #details .block-detalies__one img {
    width: 100%; }

#image {
  padding: 50px 0 0 0;
  border-bottom: 1px solid #6f6f6f; }
  #image .box-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 100px; }
    #image .box-image .block-image {
      text-align: center;
      max-width: 120px;
      padding: 0 1px; }
      #image .box-image .block-image img {
        max-width: 100%; }

#footer .box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 39px 0 48px 0; }
  #footer .box-form .form-text p {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 37px; }
  #footer .box-form #form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #footer .box-form #form input {
      border-radius: 10px;
      font-family: 'Roboto', sans-serif;
      border: 1px solid #626262;
      font-size: 16px;
      color: #333333;
      padding: 18px 30px;
      outline: none;
      margin: 0 2px; }

#footer .btn {
  padding: 17px 70px;
  background: #273562;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.9px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #626262;
  outline: none; }
  #footer .btn:hover {
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    background: #364c93; }

#footer .box-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #footer .box-map .block-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  #footer .box-map .block-text {
    margin-left: 25px;
    margin-right: 20px; }
  #footer .box-map .block-text__title p,
  #footer .box-map .link a {
    color: #333333;
    font-size: 18px;
    font-weight: 400; }
  #footer .box-map .block-text__title p {
    padding: 10px 0 45px 0; }
  #footer .box-map .block-text__title span {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px; }
  #footer .box-map .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px; }
  #footer .box-map .m10 {
    margin-right: 10px;
    margin-left: 3px; }
  #footer .box-map .m5 {
    margin-right: 5px; }
  #footer .box-map .m45 {
    margin-bottom: 45px; }

#footer .box-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 40px 0 42px 0; }
  #footer .box-footer .block-one {
    width: 40%; }
    #footer .box-footer .block-one .block-one__title p {
      padding-left: 10px;
      color: #333333;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1.2px;
      margin-bottom: 13px; }
    #footer .box-footer .block-one .block-one__img {
      margin-bottom: 22px; }
    #footer .box-footer .block-one .block-one__descr {
      padding-left: 10px; }
      #footer .box-footer .block-one .block-one__descr p {
        color: #333333;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        margin-bottom: 10px; }
      #footer .box-footer .block-one .block-one__descr span {
        font-family: "Roboto - Bold", sans-serif;
        font-weight: 700;
        letter-spacing: 0.9px; }
  #footer .box-footer .block-two {
    width: 60%; }
    #footer .box-footer .block-two .block-two__title p {
      font-family: "Roboto - Bold", sans-serif;
      color: #333333;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1.2px;
      text-align: center;
      margin-bottom: 11px; }
    #footer .box-footer .block-two .block-two__descr p {
      text-align: center;
      color: #333333;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.8px;
      margin-bottom: 30px; }
    #footer .box-footer .block-two .block-inputs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 11px; }
      #footer .box-footer .block-two .block-inputs input {
        outline: none;
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.8px;
        width: 170px;
        height: 49px;
        border-radius: 10px;
        border: 1px solid #6f6f6f;
        text-align: center;
        margin: 0 3px 6px 3px;
        background-color: #ffffff; }

#footer .form-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#footer .footer {
  background-color: #e8e8e8; }
  #footer .footer .box-footer__bottom {
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #footer .footer .box-footer__bottom p {
      opacity: 0.8;
      color: #484747;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      margin-right: 5px; }
