@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.d-b, .header .container .logo, .section-3 .container .background-styles .background-styles-figure img,
.section-3 .container .background-styles .background-styles-figure a {
  display: block; }

.d-n {
  display: none; }

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

h1, h2, h3, h4, h5, p {
  margin-bottom: 0;
  padding: 0;
  margin-top: 0; }

ul li {
  padding-left: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

div, span, input, form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-style: sans-serif;
  margin: 0 auto; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.header {
  padding: 15px 0; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header .container .logo {
      width: 30%;
      margin-left: 8%; }
    .header .container .contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 69%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .header .container .contacts .tel {
        margin-right: 10%; }
      .header .container .contacts .address,
      .header .container .contacts .lang {
        margin-right: 10%;
        cursor: pointer;
        text-decoration: underline; }
        .header .container .contacts .address .lang-letter,
        .header .container .contacts .lang .lang-letter {
          display: block;
          color: #333333; }
      .header .container .contacts .tel,
      .header .container .contacts .address,
      .header .container .contacts .lang {
        color: #333333;
        font-family: Roboto;
        font-weight: 400;
        text-decoration: none; }
        .header .container .contacts .tel .caret,
        .header .container .contacts .address .caret,
        .header .container .contacts .lang .caret {
          -webkit-transform: translate(1px, -6px);
          transform: translate(1px, -6px); }
  .header .lang {
    position: relative;
    z-index: 9; }

.mobile-menu {
  overflow: hidden; }
  .mobile-menu .mobile-menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    position: fixed;
    right: -900px;
    top: -1%;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 3;
    height: 100vh;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
    .mobile-menu .mobile-menu-items .mobile-menu-item {
      list-style: none;
      -webkit-transition: .3s;
      transition: .3s; }
      .mobile-menu .mobile-menu-items .mobile-menu-item:last-child {
        margin: 6px 0; }
      .mobile-menu .mobile-menu-items .mobile-menu-item a {
        color: #000;
        font-weight: 500;
        font-size: 17px;
        border-bottom: 3px solid transparent; }
        .mobile-menu .mobile-menu-items .mobile-menu-item a:hover {
          border-bottom: 3px solid #000; }
  .mobile-menu .mobile-menu-item-active {
    -webkit-transition: .3s;
    transition: .3s;
    right: 0%;
    margin: 0px;
    padding-right: 42px; }

main .section-main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  main .section-main .container {
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1920px; }
    main .section-main .container .navigation-bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      main .section-main .container .navigation-bottom nav {
        width: 63%;
        background: #fff; }
        main .section-main .container .navigation-bottom nav .menu-items {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 0 7% 0 0; }
          main .section-main .container .navigation-bottom nav .menu-items .menu-item {
            list-style: none;
            padding: 17px 0;
            border-top: 3px solid transparent;
            -webkit-transition: .3s;
            transition: .3s; }
            main .section-main .container .navigation-bottom nav .menu-items .menu-item:hover {
              border-top: 3px solid #000; }
            main .section-main .container .navigation-bottom nav .menu-items .menu-item a {
              text-decoration: none;
              color: #333333;
              font-size: 16px;
              font-weight: 400;
              margin: 0 12px; }
          main .section-main .container .navigation-bottom nav .menu-items .menu-item-active {
            border-top: 3px solid #000; }
      main .section-main .container .navigation-bottom .arrow-down {
        margin-left: 13%;
        margin-bottom: 1px;
        cursor: pointer;
        position: relative;
        -webkit-animation: scrollDown 1s ease infinite;
        animation: scrollDown 1s ease infinite; }
    main .section-main .container .main-title {
      color: #333333;
      text-transform: uppercase;
      margin-left: 13%; }
      main .section-main .container .main-title h1 {
        font-family: "Roboto - Black" , sans-serif;
        font-size: 50px;
        font-weight: 700; }
      main .section-main .container .main-title h2 {
        font-family: Roboto;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        padding: 10px 0 15px 0; }
      main .section-main .container .main-title p {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        padding: 10px 0 15px 0; }
      main .section-main .container .main-title small {
        font-weight: 300;
        font-family: Roboto; }
      main .section-main .container .main-title button {
        color: #626361;
        display: block;
        border: 1px solid #626361;
        padding: 16px 70px;
        background: transparent;
        color: #333333;
        font-family: Roboto;
        margin-top: 40px;
        font-weight: 500;
        border-radius: 3px;
        -webkit-transition: .3s;
        transition: .3s;
        cursor: pointer;
        font-size: 18px; }
        main .section-main .container .main-title button:hover {
          background: #fff; }
    main .section-main .container .menu-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 5%; }
      main .section-main .container .menu-items .menu-item {
        list-style: none;
        margin-left: 10px;
        padding: 25px 0; }
        main .section-main .container .menu-items .menu-item:first-child {
          margin-left: 0; }
        main .section-main .container .menu-items .menu-item a {
          text-decoration: none;
          color: #333333;
          font-size: 16px;
          font-weight: 400; }

.section_form .box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 39px 0 48px 0; }
  .section_form .box-form .form-text p {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 37px; }
  .section_form .box-form #form-top input,
  .section_form .box-form .btn {
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #626262;
    font-size: 16px;
    color: #333333;
    padding: 18px 30px;
    outline: none; }
  .section_form .box-form .btn {
    padding: 18px 70px;
    background: #273562;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.9px;
    -webkit-transition: 500ms ease;
    transition: 500ms ease; }
    .section_form .box-form .btn:hover {
      -webkit-transition: 500ms ease;
      transition: 500ms ease;
      background: #364c93; }

.section-2 .container {
  max-width: 1920px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 879px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section-2 .section-2-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .section-2 .section-2-wrapper h3 {
    color: #333333;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 40px;
    margin-left: 30px; }

.section-2 .event-formats {
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 265px;
  width: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section-2 .title-actual-event {
  font-family: Roboto;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 36px;
  margin-left: 16%; }

.section-2 .event-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .section-2 .event-wrapper .events-items-left,
  .section-2 .event-wrapper .events-items-right {
    list-style-type: circle;
    padding: 0;
    margin: 25px; }

.section-2 .description-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .section-2 .description-items.description-item {
    color: #333333;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px; }

.section-2 .description-item[data-description='1'] p {
  margin-left: 67px;
  display: block;
  margin-bottom: 10px; }

.section-2 .description-item[data-description='1'] img {
  display: block; }

.section-2 .description-item[data-description='0'] p {
  margin-bottom: 60px; }

.section-2 .description-item[data-description='2'] p {
  margin-bottom: 50px;
  -webkit-transform: translateX(12px);
  transform: translateX(12px); }

.section-2 .slick-next {
  top: 130px;
  left: 15px; }
  .section-2 .slick-next:before {
    content: '';
    background: url(../img/right-arrow_копия.svg) center no-repeat;
    width: 30px;
    height: 30px;
    display: block; }

main .section-2 .container .section-2-wrapper .event-formats .slid {
  display: none; }

.section-3 .container {
  max-width: 1920px;
  position: relative; }
  .section-3 .container .background-styles {
    min-height: 936px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative; }
    .section-3 .container .background-styles .background-styles-modal {
      background-color: rgba(255, 255, 255, 0.6);
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 3% 3% 4% 6%;
      display: none; }
      .section-3 .container .background-styles .background-styles-modal .modal-description {
        text-transform: uppercase; }
      .section-3 .container .background-styles .background-styles-modal .modal-offers {
        margin: 30px 0; }
      .section-3 .container .background-styles .background-styles-modal .modal-offers-title {
        font-size: 18px;
        font-weight: 400; }
      .section-3 .container .background-styles .background-styles-modal .modal-offers-items {
        padding-left: 0; }
        .section-3 .container .background-styles .background-styles-modal .modal-offers-items li {
          list-style-type: circle;
          margin-left: 15px;
          padding-left: 3px; }
    .section-3 .container .background-styles .background-styles-figure {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 35%; }
      .section-3 .container .background-styles .background-styles-figure .plus_icon {
        margin: 20px 0;
        position: relative;
        z-index: 1; }
      .section-3 .container .background-styles .background-styles-figure a {
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px; }
  .section-3 .container .our_styles_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section-3 .container .our_styles_items .our_styles-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: 5%; }
      .section-3 .container .our_styles_items .our_styles-title h4 {
        color: #333333;
        font-family: Roboto;
        font-size: 48px;
        font-weight: 700; }
    .section-3 .container .our_styles_items .our_styles-description {
      color: #333333;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
        width-text-align: center; }

.section-portfolio {
  position: relative; }
  .section-portfolio .portfolio-block .portfolio-title {
    position: relative;
    text-align: center;
    color: #333333;
    font-family: Roboto;
    font-size: 36px;
    padding: 40px 0;
    font-weight: 400; }
    .section-portfolio .portfolio-block .portfolio-title:after {
      content: '';
      background: url(../img/fg.png) center no-repeat;
      z-index: -1;
      display: block;
      height: 150px;
      position: absolute;
      left: 70px;
      right: 0;
      top: 8px;
      bottom: 0; }
    .section-portfolio .portfolio-block .portfolio-title span {
      font-weight: 600; }
  .section-portfolio .stage-title {
    color: #333333;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px solid #333;
    display: inline-block;
    margin: 10px 0 12px 110px; }
  .section-portfolio .portfolios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section-portfolio .portfolios .portfolio-item {
      width: 30%;
      max-width: 500px;
      height: 260px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative; }
      .section-portfolio .portfolios .portfolio-item .portfolio-btn {
        color: #333333;
        width: 100%;
        max-width: 184px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        display: block;
        padding: 15px;
        border: 1px solid #626262;
        background-color: rgba(255, 255, 255, 0.9);
        cursor: pointer;
        border-radius: 25px;
        -webkit-transition: .5s;
        transition: .5s; }
        .section-portfolio .portfolios .portfolio-item .portfolio-btn:hover {
          -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.7); }
      .section-portfolio .portfolios .portfolio-item .portfolio-figure-icon {
        background-image: url("../img/figure-portfolio.png");
        width: 323px;
        height: 407px;
        background-repeat: no-repeat;
        background-size: 74%;
        position: absolute;
        z-index: -1; }
        .section-portfolio .portfolios .portfolio-item .portfolio-figure-icon[data-portfolio-figure='0'] {
          top: 16px;
          left: 25px;
          width: 200px;
          background-size: 80%; }
        .section-portfolio .portfolios .portfolio-item .portfolio-figure-icon[data-portfolio-figure='1'] {
          left: 3px;
          bottom: -88px;
          display: inline-block; }
    .section-portfolio .portfolios .portfolio-item-middle {
      width: 35%;
      height: 260px; }

.portfolio-block {
  position: relative; }

.main .section-portfolio .mob {
  display: none; }

main .mob .slick-slider {
  display: none; }

#loft {
  margin-top: 20px; }
  #loft .box-loft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #loft .box-loft .block-one {
      position: relative;
      max-width: 1440px;
      max-height: 985px; }
      #loft .box-loft .block-one img {
        width: 92%; }
      #loft .box-loft .block-one p {
        position: absolute;
        color: #333333;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 1.8px;
        right: -190px;
        top: 210px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg); }
      #loft .box-loft .block-one:after {
        content: '';
        background: url(../img/loft-fig.png) center no-repeat;
        position: absolute;
        width: 168px;
        height: 210px;
        bottom: 5px;
        right: 1%; }
    #loft .box-loft .click {
      position: absolute;
      bottom: 210px;
      right: 30px; }
      #loft .box-loft .click p {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.8px;
        right: 0;
        top: -50px; }

#details .box-detalies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#details .block-detalies__two {
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: url(../img/фон.png);
  padding: 30px 10px 40px 50px; }
  #details .block-detalies__two .block-detalies__title p {
    font-family: "Roboto Medium" ,sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 20px; }
  #details .block-detalies__two .block-detalies__descr {
    font-family: "Roboto - Regular",sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 40px; }
  #details .block-detalies__two ul {
    margin: 0 0 75px 0;
    padding: 0; }
    #details .block-detalies__two ul li {
      padding: 0;
      margin: 0;
      list-style: circle;
      color: #333333;
      font-family: "Roboto - Regular",sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px; }

#details #details-form .label-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#details #details-form .label-email {
  color: #333333;
  font-family: "Roboto - Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.9px; }

#details #details-form .label-namber {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
  font-family: "Roboto - Regular",sans-serif; }

#details #details-form input {
  width: 100%;
  height: 57px;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #7b7b7b;
  background-color: #ffffff;
  padding-left: 20px;
  outline: none;
  border-right: none;
  margin: 24px 0 27px; }

#details #details-form #label-namber {
  width: 60%; }

#details #details-form .label-date {
  width: 40%;
  padding: 0 0px 0px;
  text-align: center;
  border-radius: inherit; }

#details #details-form .button {
  font-family: "Roboto - Regular",sans-serif;
  border-radius: 0 10px 10px 0;
  border: 1px solid #7b7b7b;
  background-color: #273562;
  color: #ffffff;
  max-width: 150px;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.8px;
  margin: 24px 0 27px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  cursor: pointer; }
  #details #details-form .button:hover {
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    background: #364c93; }

#details .figure {
  background: url(../img/фигура.png) center no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #details .figure span {
    font-family: "Roboto - Bold" ,sans-serif;
    font-weight: 700; }
  #details .figure p {
    padding: 60px 50px 80px 0;
    color: #333333;
    font-size: 18px;
    font-family: "Roboto - Regular" ,sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px; }

#details .block-detalies__one {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  #details .block-detalies__one img {
    width: 100%; }

#details .block-dn {
  display: none; }
  #details .block-dn .down a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline; }
    #details .block-dn .down a .down a img {
      width: 25px; }
    #details .block-dn .down a .down a span {
      margin-left: 5px; }

.section-portfolio .slick-next {
  right: 20px;
  top: 20px; }
  .section-portfolio .slick-next:before {
    content: '';
    background: url(../img/right-arrow_копия.svg) center no-repeat;
    width: 30px;
    height: 30px;
    display: block; }

#image {
  padding: 50px 0 0 0;
  border-bottom: 1px solid #6f6f6f; }
  #image .box-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 85px; }
    #image .box-image .block-image {
      text-align: center;
      max-width: 120px;
      padding: 0 1px;
      margin-bottom: 15px; }
      #image .box-image .block-image img {
        max-width: 100%; }

#footer .box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 39px 0 48px 0; }
  #footer .box-form .form-text p {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 37px; }
  #footer .box-form #form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #footer .box-form #form input {
      border-radius: 10px;
      font-family: 'Roboto', sans-serif;
      border: 1px solid #626262;
      font-size: 16px;
      color: #333333;
      padding: 18px 30px;
      outline: none;
      margin: 0 2px; }

#footer .btn {
  padding: 17px 70px;
  background: #273562;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.9px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #626262;
  outline: none; }
  #footer .btn:hover {
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
    background: #364c93; }

#footer .box-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #footer .box-map .block-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  #footer .box-map .block-text {
    margin-left: 25px;
    margin-right: 20px; }
  #footer .box-map .block-text__title p,
  #footer .box-map .link a {
    color: #333333;
    font-size: 18px;
    font-weight: 400; }
  #footer .box-map .block-text__title p {
    padding: 10px 0 45px 0; }
  #footer .box-map .block-text__title span {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px; }
  #footer .box-map .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px; }
  #footer .box-map .m10 {
    margin-right: 10px;
    margin-left: 3px; }
  #footer .box-map .m5 {
    margin-right: 5px; }
  #footer .box-map .m45 {
    margin-bottom: 45px; }

#footer .box-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 40px 0 42px 0; }
  #footer .box-footer .block-one {
    width: 40%; }
    #footer .box-footer .block-one .block-one__title p {
      padding-left: 10px;
      color: #333333;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1.2px;
      margin-bottom: 13px; }
    #footer .box-footer .block-one .block-one__img {
      margin-bottom: 22px; }
    #footer .box-footer .block-one .block-one__descr {
      padding-left: 10px; }
      #footer .box-footer .block-one .block-one__descr p {
        color: #333333;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        margin-bottom: 10px; }
      #footer .box-footer .block-one .block-one__descr span {
        font-family: "Roboto - Bold", sans-serif;
        font-weight: 700;
        letter-spacing: 0.9px; }
  #footer .box-footer .block-two {
    width: 60%; }
    #footer .box-footer .block-two .block-two__title p {
      font-family: "Roboto - Bold", sans-serif;
      color: #333333;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1.2px;
      text-align: center;
      margin-bottom: 11px; }
    #footer .box-footer .block-two .block-two__descr p {
      text-align: center;
      color: #333333;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.8px;
      margin-bottom: 30px; }
    #footer .box-footer .block-two .block-inputs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 11px; }
      #footer .box-footer .block-two .block-inputs input {
        outline: none;
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.8px;
        width: 170px;
        height: 49px;
        border-radius: 10px;
        border: 1px solid #6f6f6f;
        text-align: center;
        margin: 0 3px 6px 3px;
        background-color: #ffffff; }

#footer .form-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#footer .footer {
  background-color: #e8e8e8; }
  #footer .footer .box-footer__bottom {
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #footer .footer .box-footer__bottom p {
      opacity: 0.8;
      color: #484747;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      margin-right: 5px; }

@-webkit-keyframes scrollDown {
  0% {
    bottom: 0; }
  50% {
    bottom: 10px; }
  100% {
    bottom: 0; } }

@keyframes scrollDown {
  0% {
    bottom: 0; }
  50% {
    bottom: 10px; }
  100% {
    bottom: 0; } }

@media screen and (max-width: 1200px) {
  /*S3*/
  .section-2 .container .section-2-wrapper h3 {
    font-size: 40px;
    margin-left: 8%; }
  /*loft*/
  #loft .box-loft .block-one:after {
    content: '';
    background: url(../img/loft-fig.png) center no-repeat;
    position: absolute;
    bottom: 5px;
    right: 0%; }
  #loft .box-loft .block-one p {
    font-size: 20px;
    right: -120px;
    top: 210px; }
  #loft .block-one .click p {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    right: 0;
    top: -30px; }
  /*details*/
  #details .figure p {
    padding: 60px 120px 80px 0; }
  #details .block-detalies__one,
  #details .block-detalies__two {
    width: 50%; }
  #details .block-detalies__two {
    padding: 30px 10px 40px 30px; }
  /*footer*/
  #footer .box-footer .block-one {
    width: 40%;
    padding-left: 20px; } }

@media screen and (max-width: 1024px) {
  /*header */
  .flex {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-main .container .main-title button {
    margin-top: 15px;
    margin-bottom: 35px; }
  main .section-main .container {
    min-height: auto; }
  /*section-2*/
  .section-2 .container .section-2-wrapper h3 {
    font-size: 34px; }
  .section-2 .container .section-2-wrapper .event-formats .title-actual-event {
    font-size: 25px; }
  /*portfolio */
  .section-portfolio .portfolios .portfolio-item .portfolio-figure-icon {
    background-size: 50%; }
  .portfolio-figure-icon[data-portfolio-figure="0"] {
    position: absolute;
    top: 22px;
    left: 105px; }
  .portfolio-figure-icon[data-portfolio-figure="1"] {
    position: absolute;
    top: -29px;
    left: 14px; }
  .section-portfolio .stage-title {
    margin: 0 0 0 0; }
  .portfolio-item {
    height: 210px; }
  .section-portfolio .portfolio-block .portfolio-title {
    font-size: 30px; }
  .section-portfolio .stage-title {
    font-size: 25px;
    margin: 10px 0 10px 10px; }
  .section-portfolio .portfolios .portfolio-item-middle {
    height: 220px; }
  .section-portfolio .portfolios .portfolio-item {
    height: 180px;
    background-size: cover; }
  .section-portfolio {
    position: relative; }
  .section-3 .container .background-styles {
    min-height: 600px; }
  .background-styles-figure img {
    width: 185px; }
  .background-styles-figure .plus_icon {
    width: 20px; }
  main .section-main .container .menu-items .menu-item {
    padding: 0px 0; }
  main .section-main .container .menu-items {
    margin: 0 0 0 8%; }
  /*loft*/
  #loft .box-loft .block-one:after {
    background: url(../img/loft-fig.png) center no-repeat;
    position: absolute;
    width: 100px;
    height: 210px;
    bottom: 5px;
    right: 1%;
    background-size: 100%; }
  #loft .box-loft .block-one p {
    font-size: 16px;
    right: -100px;
    top: 125px; }
  #loft .block-one .click p {
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    right: 0;
    top: -20px; }
  #loft .block-one .click a img {
    width: 20px; }
  #loft .box-loft .click {
    bottom: 175px; }
  /*deteils*/
  #details .figure p {
    font-size: 14px; }
  #details .block-detalies__two .block-detalies__descr {
    font-size: 16px;
    margin-bottom: 25px; }
  #details .block-detalies__two .block-detalies__title p {
    font-size: 22px;
    margin-bottom: 15px; }
  #details .block-detalies__two ul {
    margin: 0px 0 30px 0; }
  #details .block-detalies__two ul li {
    font-size: 14px; }
  #details .block-detalies__two {
    padding: 20px 5px 0px 20px; }
  #details #details-form input {
    height: 45px;
    font-size: 12px;
    margin: 20px 0 10px; }
  #details #details-form .button {
    max-width: 125px;
    font-size: 12px;
    margin: 20px 0 10px; }
  /*image*/
  #image .box-image {
    margin-bottom: 0px; }
  /*form*/
  #form-top {
    text-align: center; }
  .section_form .box-form {
    padding: 30px 0 40px 0; }
  .section_form .box-form #form-top input,
  .section_form .box-form .btn,
  #footer .box-form #form input,
  #form button {
    width: 45%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 5px 2.5px; }
  #footer .box-form #form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .section_form .box-form .form-text p,
  #footer .box-form .form-text p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center; }
  /*footer*/
  #footer .box-map .block-text__title span {
    font-size: 18px; }
  #footer .box-map .block-text__title p,
  #footer .box-map .link a {
    font-size: 16px; }
  #footer .box-map .block-text__title p {
    padding: 10px 0 20px 0; }
  #footer .box-map .m45 {
    margin-bottom: 30px; }
  iframe {
    height: 460px; }
  #footer .box-footer .block-two .block-inputs input {
    width: 140px; }
  #footer .box-footer .block-one {
    padding-left: 15px; } }

@media screen and (max-width: 768px) {
  main .section-2 .event-formats .slid {
    display: block; }
  .section-portfolio .portfolios {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  main .section-portfolio .pc {
    display: none; }
  main .section-portfolio .mob {
    display: block; }
  main .mob .portfolio-item {
    background-size: auto;
    margin: 0 5px 20px 5px; }
  .section-portfolio .mob .portfolio-item {
    background-size: auto; }
  .section-portfolio .portfolios .portfolio-item {
    max-width: 330px;
    width: 100%; }
  .header {
    padding: 10px 0; }
  .burger-menu {
    cursor: pointer;
    margin-right: 20px;
    display: block;
    position: relative;
    z-index: 9; }
    .burger-menu:hover span {
      background: #000; }
    .burger-menu span {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50px;
      border: 1px solid #000;
      -webkit-transition: .3s;
      transition: .3s; }
      .burger-menu span:nth-child(2n) {
        margin: 5px 0; }
  .tel,
  .address {
    display: none; }
  /*footer*/
  #footer .box-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  #footer .box-footer .block-one {
    width: 100%;
    padding-left: 0px;
    text-align: center; }
  #footer .box-footer .block-two {
    width: 100%; }
  .form-two .btn {
    margin-bottom: 40px; }
  #footer .box-footer .block-two .block-two__descr p {
    font-size: 12px;
    margin-bottom: 25px; }
  .box-map {
    position: relative; }
  .block-text {
    position: absolute; }
  iframe {
    height: 525px; }
  .block-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 10px; }
  #footer .box-map .block-text {
    margin-left: 0px;
    margin-right: 0px; }
  #footer .box-map .block-text__title span {
    font-size: 16px; }
  #footer .box-map .m45 {
    margin-bottom: 18px; }
  #footer .btn {
    padding: 15px 15px; }
  #footer .box-form #form input {
    padding: 15px 15px; }
  .section_form .box-form .form-text p,
  #footer .box-form .form-text p {
    font-size: 16px;
    margin-bottom: 20px; }
  /*image*/
  #image .box-image .block-image {
    text-align: center;
    width: 100%; }
  /*detals*/
  #details-form {
    display: none; }
  #details .block-detalies__two ul li {
    font-size: 12px;
    line-height: 15px; }
  #details .block-detalies__two .block-detalies__title p {
    font-size: 15px;
    margin-bottom: 15px; }
  #details .block-detalies__two .block-detalies__descr {
    font-size: 14px;
    margin-bottom: 20px; }
  #details .block-detalies__one {
    background: url(../img/detal-ma.png) bottom no-repeat; }
  #details .block-detalies__two {
    height: 800px;
    width: 50%;
    padding: 10px 5px 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #details .figure p {
    padding: 50px 0 0px 0; }
  #details .block-detalies__one img {
    width: 100%;
    display: none; }
  #details .figure {
    background: none; }
  #details .figure p {
    font-size: 12px;
    text-align: center; }
  #details .block-dn {
    display: block; }
  .down img {
    width: 20px; }
  .down span {
    margin-right: 10px; }
  /* mobile-menu */
  #id-menu-items {
    display: none; }
  .header .container .logo {
    width: 30%;
    margin-left: 10px; }
  /* section-1 */
  .main-title h1 {
    font-size: 30px !important; }
  .main-title h2 {
    font-size: 18px !important; }
  .main-title p {
    font-size: 16px !important; }
  main .section-main .container .main-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 13%;
    height: 100%; }
  .section-main .container {
    height: 450px;
    background-size: cover; }
  main .section-main .container .navigation-bottom nav .menu-items {
    padding: 0 5px; }
  main .section-main .container .navigation-bottom .arrow-down {
    margin-left: 30px; }
  main .section-main .container .navigation-bottom nav {
    width: 75%; }
  main .section-main .container .navigation-bottom nav .menu-items .menu-item a {
    margin: 0 0px; }
  main .section-main .container .navigation-bottom nav .menu-items .menu-item {
    padding: 12px 2px; }
  main .section-main .container .navigation-bottom nav .menu-items .menu-item a {
    font-size: 13px; }
  main .section-main .container .navigation-bottom nav .menu-items {
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  main .section-main .container .navigation-bottom nav .menu-items {
    margin: 0 0% 0 0; }
  .none {
    display: none; }
  .header a img {
    width: 135px; }
  main .section-main .container .main-title button {
    padding: 10px 45px;
    margin-top: 20px;
    font-size: 14px; }
  .section-main .container .main-title h2 {
    padding: 10px 0 5px 0; }
  #loft .box-loft .block-one:after {
    position: absolute;
    width: 70px;
    height: 90px;
    bottom: 5px;
    right: 0%;
    background-size: 100%; }
  #loft .box-loft .block-one p {
    font-size: 8px;
    right: -55px;
    top: 65px; }
  #loft .box-loft .click {
    right: 10px;
    bottom: 90px; }
  #loft .block-one .click a img {
    width: 14px; }
  #loft .block-one .click p {
    color: #333333;
    font-size: 8px;
    font-weight: 400;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    right: -3px;
    top: -12px; }
  .section-portfolio .portfolios .portfolio-item .portfolio-btn {
    max-width: 100px;
    font-size: 12px;
    padding: 10px 0; }
  .section_form .box-form .btn {
    padding: 15px 0px; }
  .section_form .box-form #form-top input,
  .section_form .box-form .btn {
    padding: 15px 15px; }
  .section-portfolio .stage-title {
    font-size: 18px; }
  .section-portfolio .portfolio-block .portfolio-title:after {
    display: none; }
  .section-portfolio .portfolio-block .portfolio-title {
    font-size: 24px;
    padding: 20px; }
  .section_form .box-form {
    padding: 0px 0 0px 0;
    margin: 20px 0; }
  .section-3 .container .background-styles {
    min-height: 490px; }
  .background-styles-figure img {
    width: 115px; }
  .section-portfolio .portfolios .portfolio-item .portfolio-figure-icon {
    width: 125px;
    height: 80px;
    background-size: 100%; }
  .section-portfolio .portfolios .portfolio-item .portfolio-figure-icon[data-portfolio-figure='0'] {
    top: -30px;
    left: -30px;
    width: 100px;
    height: 200px;
    background-size: 100%; }
  .section-3 .container .our_styles_items .our_styles-title h4 {
    font-size: 30px; }
  .section-3 .container .our_styles_items .our_styles-description {
    font-size: 12px;
    margin-right: 0px; }
  .section-3 .container .our_styles_items .our_styles-title .figure-img span {
    height: 40px;
    left: 3px;
    bottom: 6px; }
  .figure-img img {
    margin-top: 5px;
    width: 20px; }
  .section-2 .container .description-items .description-item[data-description='1'] p {
    margin-left: 15px; }
  .description-item img {
    width: 120px; }
  .section-2 .container .description-items {
    padding: 0px; }
  .section-2 .container .description-items .description-item {
    font-size: 10px;
    line-height: 16px;
    margin: 0 5px; }
  .section-2 .container .section-2-wrapper h3 {
    margin-left: 15px;
    font-size: 28px;
    line-height: 40px; }
  .section-2 .container {
    min-height: 550px; }
  .section-2 .container .description-items .description-item[data-description='2'] p {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  .mob-block .slick-slide .slick-current .slick-active {
    display: block; }
  main .section-2 .container .section-2-wrapper .event-formats .event-wrapper {
    display: none; }
  main .section-2 .container .section-2-wrapper .event-formats .slid {
    display: block;
    margin-left: 35px; }
  .event-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .events-items-left,
  .events-items-right {
    list-style-type: circle;
    padding: 0;
    margin: 0px; } }

@media screen and (max-width: 425px) {
  .section-2 .event-formats {
    width: 55%; }
  .section-2 .container .section-2-wrapper h3 {
    font-size: 16px;
    padding-top: 20px; }
  .events-items-left {
    padding: 0; }
  .section-2 .container .section-2-wrapper .event-formats .title-actual-event {
    font-size: 16px; }
  main .mob .portfolio-item {
    margin: 0 0px 20px 0px; }
  #details .block-dn .down a span {
    font-size: 14px; }
  #loft .box-loft .block-one:after {
    position: absolute;
    width: 35px;
    height: 50px;
    bottom: 5px;
    right: 3%;
    background-size: 100%; }
  #loft .box-loft .click {
    right: 10px;
    bottom: 55px; }
  #loft .block-one .click a img {
    width: 12px; }
  #loft .block-one .click p {
    top: -10px; }
  #loft .box-loft .block-one p {
    font-size: 7px;
    right: -55px;
    top: 48px; }
  #loft .block-one .click p {
    font-size: 7px;
    right: -3px;
    top: -10px; }
  .section-3 .container .our_styles_items .our_styles-description {
    font-size: 10px; }
  .section-3 .container .our_styles_items .our_styles-title h4 {
    font-size: 20px; }
  main .section-main .container .navigation-bottom nav .menu-items .menu-item a {
    font-size: 13px; }
  .section-2 .title-actual-event {
    line-height: 28px;
    margin-left: 10px; }
  .section-2 .event-wrapper {
    margin: 0 15px; }
  .section-2 .slick-next {
    top: 160px;
    left: 16px; }
  .section-2 .container .section-2-wrapper h3 {
    margin-left: 5px; } }
